<footer class="style-4" data-scroll-index="8">
  <div class="container">
    <div class="section-head text-center style-4">
      <h2 class="mb-10"> همیار
        <span> موبایل </span>
      </h2>
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
    </div>
    <div class="foot mt-80">
      <div class="row align-items-center">
        <div class="col-lg-2">
          <div class="logo">
            <img src="assets/img/logo_lgr.png" alt="">
          </div>
        </div>
        <div class="col-lg-8">
          <ul class="links">
            <li>
              <a [routerLink]="['/services']" class="active"> خدمات ما</a>
            </li>
            <li>
              <a [routerLink]="['/about']">درباره ما</a>
            </li>
            <li>
              <a [routerLink]="['/contact']">ارتباط با ما</a>
            </li>
            <li>
              <a [routerLink]="['/blog']">بلاگ</a>
            </li>
            <li>
              <a [routerLink]="['/shop']">فروشگاه</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2">

        </div>
      </div>
    </div>
    <div class="copywrite text-center">
      <small class="small">
       تمامی حقوق متعلق به همیار موبایل میباشد ©
      </small>
      <br>
      <small class="small">
        قدرت گرفته از
        <a href="https://kernelious.com">کرنلیوس</a>
      </small>
    </div>
  </div>
  <img src="assets/img/footer/footer_4_wave.png" alt="" class="wave">
</footer>

<a href="#" class="to_top bg-gray rounded-circle icon-40 d-inline-flex align-items-center justify-content-center">
  <i class="bi bi-chevron-up fs-6 text-dark"></i>
</a>

