<!doctype html>
<html lang="en">


<head>
  <!-- Metas -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="keywords" content="همیار موبایل" />
  <meta name="description" content="همیاز موبایل" />
  <meta name="author" content="https://retal.tech" />
  <title>{{title}}</title>
  <link rel="shortcut icon" href="/assets/img/fav.png" title="Favicon" sizes="16x16" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/lib/bootstrap.rtl.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/lib/all.min.css" />
  <link rel="stylesheet" href="/assets/css/lib/animate.css" />
  <link rel="stylesheet" href="/assets/css/lib/jquery.fancybox.css" />
  <link rel="stylesheet" href="/assets/css/lib/lity.css" />
  <link rel="stylesheet" href="/assets/css/lib/swiper.min.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/rtl_style.css" />
</head>

<body>
<app-menu></app-menu>


<router-outlet></router-outlet>

<app-footer></app-footer>


<script src="/assets/js/lib/jquery-3.0.0.min.js"></script>
<script src="/assets/js/lib/jquery-migrate-3.0.0.min.js"></script>
<script src="/assets/js/lib/bootstrap.bundle.min.js"></script>
<script src="/assets/js/lib/wow.min.js"></script>
<script src="/assets/js/lib/jquery.fancybox.js"></script>
<script src="/assets/js/lib/lity.js"></script>
<script src="/assets/js/lib/swiper.min.js"></script>
<script src="/assets/js/lib/jquery.waypoints.min.js"></script>
<script src="/assets/js/lib/jquery.counterup.js"></script>
<script src="/assets/js/lib/scrollIt.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
