
<main class="services-page style-5">


  <!-- ====== start features ====== -->
  <section class="features section-padding pt-50 style-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-head text-center mb-60 style-5">
            <h2 class="mb-20">  <span> راهکار های همیار موبایل </span> </h2>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="features-card mb-30 style-5">
              <div class="icon">
                <img src="assets/img/icons/features/2.png" alt="">
              </div>
              <div class="info">
                <h5 class="card-title">
                  مشاوره رجیستر گوشی همراه
                </h5>
                <p class="text">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="features-card mb-30 style-5">
              <div class="icon">
                <img src="assets/img/icons/features/3.png" alt="">
              </div>
              <div class="info">
                <h5 class="card-title">
                  مشاوره خرید و فروش گوشی موبایل
                </h5>
                <p class="text">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="features-card mb-30 style-5">
              <div class="icon">
                <img src="assets/img/icons/features/4.png" alt="">
              </div>
              <div class="info">
                <h5 class="card-title">
                  تعمیرات تخصصی تلفن همراه
                </h5>
                <p class="text">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="features-card mb-30 mb-lg-0 style-5">
              <div class="icon">
                <img src="assets/img/icons/features/5.png" alt="">
              </div>
              <div class="info">
                <h5 class="card-title">
                  اپل آیدی
                </h5>
                <p class="text">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== end features ====== -->




  <!-- ====== start about ====== -->
  <section class="about pt-0 pb-150 style-5">
    <div class="content">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-2 order-lg-0">
            <div class="section-head mb-30 style-5">
              <h2> اپل آیدی با
                <span> دامنه </span>
                اصیل
              </h2>
            </div>
            <p>  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
            <div class="line-links">
              <a href="#">لورم ایپسوم</a>
              <a href="#">لورم ایپسوم</a>
              <a href="#">لورم ایپسوم</a>
              <a href="#">لورم ایپسوم</a>
              <a href="#">لورم ایپسوم</a>
            </div>
          </div>
          <div class="col-lg-8 order-0 order-lg-2">
            <div class="img main-img1">
              <img src="assets/img/about/about_s5_1_1.png" alt="" class="sm-circle">
              <img src="assets/img/about/about_s5_1_2.png" alt="" class="img-body">
              <img src="assets/img/about/about_s5_1_3.png" alt="" class="card1">
              <img src="assets/img/about/about_s5_1_4.png" alt="" class="card2">
              <img src="assets/img/about/about_s5_1_5.png" alt="" class="lg-circle">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="img main-img2">
              <img src="assets/img/about/about_s5_2_1.png" alt="">
              <img src="assets/img/about/about_s5_2_2.png" alt="" class="img-body">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="section-head mb-30 style-5">
              <h2>                   مشاوره
                <span> رایگان</span>
                خرید و فروش گوشی موبایل
                </h2>
            </div>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
            </p>
            <a href="rtl-page-contact.html" class="btn rounded-pill blue5-3Dbutn hover-blue2 sm-butn fw-bold mt-50">
              <span> مشاوره رایگان همیار موبایل </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="content pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-2 order-lg-0">
            <div class="section-head mb-30 style-5">
              <h2>  مشاوره
                <span> رجیستر </span>
                گوشی همراه   </h2>
            </div>
            <p>
              مشاوره رجیستر گوشی همراه
            </p>
            <p class="mt-20">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.            </p>

          </div>
          <div class="col-lg-8 order-0 order-lg-2">
            <div class="img main-img3">
              <img src="assets/img/about/about_s5_3_1.png" alt="" class="img-body">
              <img src="assets/img/about/about_s5_3_2.png" alt="">
              <img src="assets/img/about/about_s5_3_3.png" alt="">
              <img src="assets/img/about/about_s5_3_4.png" alt="">
              <img src="assets/img/about/about_s5_3_5.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
