<main class="shop-page style-5">
  <!-- ====== صفحه شروع فروشگاه ====== -->
  <section class="shop section-padding pt-50">
    <div class="container">
      <div class="section-head text-center mb-80 style-5">
        بازار <h2 class="mb-20"> <span> همیارموبایل </span> </h2>
        <div class="page-links color-999">
          <a href="#" class="me-2">
            اصلی
          </a>
          <span class="me-2">/</span>
          <a href="#" class="color-000">
            بازار همیارموبایل
          </a>
        </div>
      </div>
      <div class="row gx-4">
        <div class="col-lg-3 col-sm-6">
          <div class="filter">
            <div class="filter-card mb-30">
              <div class="card-title">
                <span>دسته ها</span>
              </div>
              <div class="form-check category-checkRadio">
                <input class="form-check-input" type="radio" name="category" id="category1">
                <label class="form-check-label cat-link" for="category1">
                  همه دسته بندی ها
                </label>
              </div>
              <div class="form-check category-checkRadio">
                <input class="form-check-input" type="radio" name="category" id="category2">
                <label class="form-check-label cat-link" for="category2">
                  بازاریابی و تحلیل
                </label>
              </div>
              <div class="accordion" id="accordionExample">
                <div class="">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                      فن آوری
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show"
                       aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="ps-3 mb-10">
                      <div class="form-check category-checkRadio">
                        <input class="form-check-input" type="radio" name="category"
                               id="category3" بررسی شد>
                        <label class="form-check-label cat-link" for="category3">
                          کامپیوتر و لپ تاپ
                        </label>
                      </div>
                      <div class="form-check category-checkRadio">
                        <input class="form-check-input" type="radio" name="category"
                               id="category4">
                        <label class="form-check-label cat-link" for="category4">
                          قطعات یدکی
                        </label>
                      </div>
                      <div class="form-check category-checkRadio">
                        <input class="form-check-input" type="radio" name="category"
                               id="category5">
                        <label class="form-check-label cat-link" for="category5">
                          موبایل و تبلت
                        </label>
                      </div>
                      <div class="form-check category-checkRadio">
                        <input class="form-check-input" type="radio" name="category"
                               id="category6">
                        <label class="form-check-label cat-link" for="category6">
                          تجهیزات جانبی
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                      الکترونیک
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse"
                       aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="ps-3 mb-10">
                      <div class="form-check category-checkRadio">
                        <input class="form-check-input" type="radio" name="category"
                               id="category7">
                        <label class="form-check-label cat-link" for="category7">
                          کامپیوتر و لپ تاپ
                        </label>
                      </div>
                      <div class="form-check category-checkRadio">
                        <input class="form-check-input" type="radio" name="category"
                               id="category8">
                        <label class="form-check-label cat-link" for="category8">
                          جیا کاتآر
                        </label>
                      </div>
                      <div class="form-check category-checkRadio">
                        <input class="form-check-input" type="radio" name="category"
                               id="category9">
                        <label class="form-check-label cat-link" for="category9">
                          موبایل و تبلت
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                      فن آوری
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse"
                       aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="ps-3 mb-10">
                      <div class="form-check category-checkRadio">
                        <input class="form-check-input" type="radio" name="category"
                               id="category10">
                        <label class="form-check-label cat-link" for="category10">
                          کامپیوتر و لپ تاپ
                        </label>
                      </div>
                      <div class="form-check category-checkRadio">
                        <input class="form-check-input" type="radio" name="category"
                               id="category11">
                        <label class="form-check-label cat-link" for="category11">
                          قطعات یدکی
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-check category-checkRadio">
                <input class="form-check-input" type="radio" name="category" id="category12">
                <label class="form-check-label cat-link" for="category12">
                  مناسبت ها
                </label>
              </div>
            </div>
            <div class="filter-card">
              <div class="card-title d-flex justify-content-between">
                <span>فیلتر</span>
                <a href="#" class="text-uppercase fw-normal fs-10px"> <i
                  class="bi bi-arrow-repeat me-1"></i> بازنشانی همه </a>
              </div>
              <div class="filter-card-item">
                <div class="sub-tilte d-flex align-items-center justify-content-between">
                  <span>علائم تجاری</span>
                  <!-- <small class="icon">
                      <i class="bi-chevron-down"></i>
                  </small> -->
                </div>
                <div class="filter-card-body">
                  <div class="search-group">
                    <input type="text" placeholder="جستجوی مارک">
                    <button> <i class="bi bi-search"></i> </button>
                  </div>
                  <div class="filter-card-scroll">
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck1">
                      <label class="form-check-label" for="categoryCheck1">
                        همه برندها
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck2">
                      <label class="form-check-label" for="categoryCheck2">
                        شتر
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck3">
                      <label class="form-check-label" for="categoryCheck3">
                        سامسونگ
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck4">
                      <label class="form-check-label" for="categoryCheck4">
                        اوپو
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck5">
                      <label class="form-check-label" for="categoryCheck5">
                        سونی
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck6">
                      <label class="form-check-label" for="categoryCheck6">
                        شتر
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck7">
                      <label class="form-check-label" for="categoryCheck7">
                        سامسونگ
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck8">
                      <label class="form-check-label" for="categoryCheck8">
                        اوپو
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck9">
                      <label class="form-check-label" for="categoryCheck9">
                        سونی
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-card-item">
                <div class="sub-tilte d-flex align-items-center justify-content-between">
                  <span>رنگ‌ها</span>
                  <!-- <small class="icon">
                      <i class="bi-chevron-down"></i>
                  </small> -->
                </div>
                <div class="filter-card-body">
                  <div class="filter-card-scroll">
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck10">
                      <label class="form-check-label" for="categoryCheck10">
                        همه رنگ ها
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck11">
                      <label class="form-check-label" for="categoryCheck11">
                        قرمز
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck12">
                      <label class="form-check-label" for="categoryCheck12">
                        نارنجی
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck13">
                      <label class="form-check-label" for="categoryCheck13">
                        رنگ زرد
                      </label>
                    </div>
                    <div class="form-check category-checkBox">
                      <input class="form-check-input" type="checkbox" value=""
                             id="categoryCheck14">
                      <label class="form-check-label" for="categoryCheck14">
                        آبی
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-card-item border-0 m-0">
                <div class="sub-tilte d-flex align-items-center justify-content-between">
                  <span>قیمت</span>
                </div>
                <div class="filter-card-body">
                  <div class="slider-range-content">
                    <div class="amount-input">
                      <div class="amount">
                        <small>کمترین دلار</small>
                        <input type="text" id="amount1" فقط خواندنی>
                      </div>
                      <div class="amount">
                        <small>$ گرانترین است</small>
                        <input type="text" id="amount2" فقط خواندنی>
                      </div>
                      <button>اعمال</button>
                    </div>
                    <div id="slider-range"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="products-content">
            <div class="top-filter mb-10">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <p class="color-999 fs-12px mb-3 mb-lg-0"> <span class="color-000">1 - 40</span> از 1652 نتیجه</p>
                </div>
                <div class="col-lg-6">
                  <div class="r-side">
                    <div class="row align-items-center">
                      <div class="col-8">
                        <form action="https://iteck-html.themescamp.com/contact.php" class="form" method="post">
                          <div class="form-group">
                            <label >مرتب سازی بر اساس</label>
                            <select class="form-select">
                              <option value="" انتخاب شده >عادی</option>
                              <option value="">پرفروش</option>
                              <option value="">محصولات جدید</option>
                              <option value="">عادی</option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="col-4">
                        <div class="grid-list-btns">
                                                         <span class="grid-btn bttn active">
                                                             <i class="bi-grid-3x3"></i>
                                                         </span>
                          <span class="list-btn bttn">
                                                             <i class="bi-list-task"></i>
                                                         </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="products">
              <div class="row gx-2 gx-lg-4">
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/1.png" alt="">
                      <span class="label new">جدید</span>
                      <span class="fav-btn active"> <i class="fas fa-heart"></i></span>
                    </div>
                    <div class="info">
                      <h6 class="category">ایسوس</h6>
                      <h5 class="title">Asus Chromebook - 10.2 اینچ، 256 گیگابایت</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      197.00 دلار
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/2.png" alt="">
                      <span class="label sale-off">15% تخفیف</span>
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span>
                    </div>
                    <div class="info">
                      <h6 class="category">اپل</h6>
                      <h5 class="title">MacBook 2018، 1 ترابایت</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      <span class="price-sale">421.00$</span> <span class="old-price">521.00$</span>
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/3.png" alt="">
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span></div>
                    <div class="info">
                      <h6 class="category">سامسونگ</h6>
                      <h5 class="title">عینک واقعیت مجازی سامسونگ</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      197.00 دلار
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/4.png" alt="">
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span>
                    </div>
                    <div class="info">
                      <h6 class="category">نام تجاری</h6>
                      <h5 class="title">iPhone 6s Gold 64GB</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      197.00 دلار
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/5.png" alt="">
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span>
                    </div>
                    <div class="info">
                      <h6 class="category">ایکس باکس</h6>
                      <h5 class="title">کنترل‌های Xbox</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      197.00 دلار
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/6.png" alt="">
                      <span class="label sale-off">15% تخفیف</span>
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span>
                    </div>
                    <div class="info">
                      <h6 class="category">سونی</h6>
                      <h5 class="title">دوربین سونی</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      <span class="price-sale">421.00$</span> <span class="old-price">521.00$</span>
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a></div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/7.png" alt="">
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span>
                    </div>
                    <div class="info">
                      <h6 class="category">DJi2</h6>
                      <h5 class="title">دوربین DJI با هدفون</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      197.00 دلار
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/8.png" alt="">
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span>
                    </div>
                    <div class="info">
                      <h6 class="category">DJi2</h6>
                      <h5 class="title">دوربین DJI با هدفون</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      197.00 دلار
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/9.png" alt="">
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span>
                    </div>
                    <div class="info">
                      <h6 class="category">نیکون</h6>
                      <h5 class="title">دوربین نیکون</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      197.00 دلار
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/10.png" alt="">
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span>
                    </div>
                    <div class="info">
                      <h6 class="category">سونی</h6>
                      <h5 class="title">دوربین سونی</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div><div class="price">
                    197.00 دلار
                  </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/11.png" alt="">
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span>
                    </div>
                    <div class="info">
                      <h6 class="category">کتاب بازاریابی</h6>
                      <h5 class="title">دوستان خطرناک من - کتاب بازاریابی</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      197.00 دلار
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-6 card-width">
                  <div class="product-card">
                    <div class="img">
                      <img src="assets/img/shop/products/12.png" alt="">
                      <span class="fav-btn"> <i class="fas fa-heart"></i> </span>
                    </div>
                    <div class="info">
                      <h6 class="category">کتاب بازاریابی</h6>
                      <h5 class="title">دوستان خطرناک من - کتاب بازاریابی</h5>
                      <div class="rate">
                        <div class="stars">
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star active"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <span class="rev">3 ویرایش</span>
                      </div>
                    </div>
                    <div class="price">
                      197.00 دلار
                    </div>

                    <a href="#" class="btn rounded-pill mt-20">
                      <span>افزودن به سبد خرید</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="pagination style-5 color-5 justify-content-center mt-50">
                <a href="#" class="active">
                  <span>1</span>
                </a>
                <a href="#">
                  <span>2</span>
                </a>
                <a href="#">
                  <span>3</span>
                </a>
                <a href="#">
                  <span>4</span>
                </a>
                <a href="#">
                  <span>...</span>
                </a>
                <a href="#">
                  <span>20</span>
                </a>
                <a href="#">
                  <span class="text">بعدی <i class="fas fa-chevron-right"></i> </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== صفحه پایانی فروشگاه ====== -->
</main>
