<main class="blog-page style-5">

  <!-- ====== start blog-slider ====== -->
  <section class="blog-slider pt-50 pb-50 style-1">
    <div class="container">
      <div class="section-head text-center mb-60 style-5">
        <h2 class="mb-20"> آخرین <span> اخبار </span> </h2>
        <div class="text color-666">آخرین اخبار را از طریق وبلاگ دریافت کنید، بحث کنید و اخبار را با دوستان خود به اشتراک بگذارید</div>
      </div>
    </div>
  </section>
  <!-- ====== end blog-slider ====== -->

  <!-- ====== start Popular Posts ====== -->
  <section class="popular-posts pt-50 pb-100 border-bottom brd-gray">
    <div class="container">
      <h5 class="post-sc-title text-center text-uppercase mb-70">اخبار پرطرفدار</h5>
      <div class="row gx-5">
        <div class="col-lg-4 border-end brd-gray">
          <div class="card border-0 bg-transparent rounded-0 mb-30 mb-lg-0 d-block">
            <div class="img radius-7 overflow-hidden img-cover">
              <img src="assets/img/blog/7.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body px-0">
              <small class="d-block date mt-10 fs-10px fw-bold">
                <a href="#"
                   class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5">أخبار</a>
                <i class="bi bi-clock me-1"></i>
                <a href="#" class="op-8">ارسال شده 3 روز پیش</a>
              </small>
              <h5 class="fw-bold mt-10 title">
                <a href="rtl-page-single-post.html">هوش مصنوعی با اثر انگشت</a>
              </h5>
              <p class="small mt-2 op-8 fs-10px">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
              <div class="d-flex small mt-20 align-items-center justify-content-between op-9">
                <div class="l_side d-flex align-items-center">
                                        <span
                                          class="icon-20 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-main p-1 me-2 text-white">
                                            a
                                        </span>
                  <a href="#" class="mt-1">
                    توسط آرین
                  </a>
                </div>
                <div class="r-side mt-1">
                  <i class="bi bi-chat-left-text me-1"></i>
                  <a href="#">24</a>
                  <i class="bi bi-eye ms-4 me-1"></i>
                  <a href="#">774k</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 border-end brd-gray">
          <div class="card border-0 bg-transparent rounded-0 mb-30 mb-lg-0 d-block">
            <div class="img radius-7 overflow-hidden img-cover">
              <img src="assets/img/blog/7.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body px-0">
              <small class="d-block date mt-10 fs-10px fw-bold">
                <a href="#"
                   class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5">أخبار</a>
                <i class="bi bi-clock me-1"></i>
                <a href="#" class="op-8">ارسال شده 3 روز پیش</a>
              </small>
              <h5 class="fw-bold mt-10 title">
                <a href="rtl-page-single-post.html">هوش مصنوعی با اثر انگشت</a>
              </h5>
              <p class="small mt-2 op-8 fs-10px">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
              <div class="d-flex small mt-20 align-items-center justify-content-between op-9">
                <div class="l_side d-flex align-items-center">
                                        <span
                                          class="icon-20 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-main p-1 me-2 text-white">
                                            a
                                        </span>
                  <a href="#" class="mt-1">
                    توسط آرین
                  </a>
                </div>
                <div class="r-side mt-1">
                  <i class="bi bi-chat-left-text me-1"></i>
                  <a href="#">24</a>
                  <i class="bi bi-eye ms-4 me-1"></i>
                  <a href="#">774k</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 border-end brd-gray">
          <div class="card border-0 bg-transparent rounded-0 mb-30 mb-lg-0 d-block">
            <div class="img radius-7 overflow-hidden img-cover">
              <img src="assets/img/blog/7.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body px-0">
              <small class="d-block date mt-10 fs-10px fw-bold">
                <a href="#"
                   class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5">أخبار</a>
                <i class="bi bi-clock me-1"></i>
                <a href="#" class="op-8">ارسال شده 3 روز پیش</a>
              </small>
              <h5 class="fw-bold mt-10 title">
                <a href="rtl-page-single-post.html">هوش مصنوعی با اثر انگشت</a>
              </h5>
              <p class="small mt-2 op-8 fs-10px">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
              <div class="d-flex small mt-20 align-items-center justify-content-between op-9">
                <div class="l_side d-flex align-items-center">
                                        <span
                                          class="icon-20 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-main p-1 me-2 text-white">
                                            a
                                        </span>
                  <a href="#" class="mt-1">
                    توسط آرین
                  </a>
                </div>
                <div class="r-side mt-1">
                  <i class="bi bi-chat-left-text me-1"></i>
                  <a href="#">24</a>
                  <i class="bi bi-eye ms-4 me-1"></i>
                  <a href="#">774k</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== end Popular Posts ====== -->

  <!-- ====== start all-news ====== -->
  <section class="all-news section-padding blog bg-transparent style-3">
    <div class="container">
      <div class="row gx-4 gx-lg-5">
        <div class="col-lg-8">
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 bg-transparent rounded-0 border-bottom brd-gray pb-30 mb-30">
            <div class="row">
              <div class="col-lg-5">
                <div class="img img-cover">
                  <img src="assets/img/blog/6.png" class="radius-7" alt="...">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <small class="d-block date text">
                    <a href="#"
                       class="text-uppercase border-end brd-gray pe-3 me-3 color-blue5 fw-bold">

                      اخبار </a>
                    <i class="bi bi-clock me-1"></i>
                    <a href="#" class="op-8">12 روز پیش</a>
                  </small>
                  <a href="rtl-page-single-post.html" class="card-title mb-10">چگونه یک متخصص توسعه پایتون شویم</a>
                  <p class="fs-13px color-666">اگر یک راه وجود داشته باشد که فناوری بی سیم روش کار ما را تغییر داده است، این است که همه تا به حال به یکدیگر متصل [...]</p>
                  <div
                    class="auther-comments d-flex small align-items-center justify-content-between op-9">
                    <div class="l_side d-flex align-items-center">
                                                <span
                                                  class="icon-10 rounded-circle d-inline-flex justify-content-center align-items-center text-uppercase bg-blue5 p-2 me-2 text-white">
                                                    a
                                                </span>
                      <a href="#">
                        <small class="text-muted">توسط </small> آرین
                      </a>
                    </div>
                    <div class="r-side mt-1">
                      <i class="bi bi-chat-left-text me-1"></i>
                      <a href="#">24</a>
                      <i class="bi bi-eye ms-4 me-1"></i>
                      <a href="#">774k</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="pagination style-5 color-5 justify-content-center mt-60">
            <a href="#" class="active">
              <span>1</span>
            </a>
            <a href="#">
              <span>2</span>
            </a>
            <a href="#">
              <span>3</span>
            </a>
            <a href="#">
              <span>4</span>
            </a>
            <a href="#">
              <span>...</span>
            </a>
            <a href="#">
              <span>20</span>
            </a>
            <a href="#">
              <span class="text">التالى <i class="fas fa-chevron-right"></i> </span>
            </a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="side-blog style-5 ps-lg-5 mt-5 mt-lg-0">


            <div class="side-recent-post mb-50">
              <h6 class="title mb-20 text-uppercase fw-normal">
                المنشورات الاخيرة
              </h6>

              <a href="rtl-page-single-post.html" class="post-card mb-3 border-bottom brd-gray">
                <div class="img me-3">
                  <img src="assets/img/blog/7.png" alt="">
                </div>
                <div class="inf">
                  <h6>هوش مصنوعی با اثر انگشت </h6>
                  <p> اگر یک راه وجود دارد که فناوری بی سیم کار می کند [...]</p>
                </div>
              </a>
              <a href="rtl-page-single-post.html" class="post-card mb-3 border-bottom brd-gray">
                <div class="img me-3">
                  <img src="assets/img/blog/7.png" alt="">
                </div>
                <div class="inf">
                  <h6>هوش مصنوعی با اثر انگشت </h6>
                  <p> اگر یک راه وجود دارد که فناوری بی سیم کار می کند [...]</p>
                </div>
              </a>
              <a href="rtl-page-single-post.html" class="post-card mb-3 border-bottom brd-gray">
                <div class="img me-3">
                  <img src="assets/img/blog/7.png" alt="">
                </div>
                <div class="inf">
                  <h6>هوش مصنوعی با اثر انگشت </h6>
                  <p> اگر یک راه وجود دارد که فناوری بی سیم کار می کند [...]</p>
                </div>
              </a>
              <a href="rtl-page-single-post.html" class="post-card mb-3 border-bottom brd-gray">
                <div class="img me-3">
                  <img src="assets/img/blog/7.png" alt="">
                </div>
                <div class="inf">
                  <h6>هوش مصنوعی با اثر انگشت </h6>
                  <p> اگر یک راه وجود دارد که فناوری بی سیم کار می کند [...]</p>
                </div>
              </a>
              <a href="rtl-page-single-post.html" class="post-card mb-3 border-bottom brd-gray">
                <div class="img me-3">
                  <img src="assets/img/blog/7.png" alt="">
                </div>
                <div class="inf">
                  <h6>هوش مصنوعی با اثر انگشت </h6>
                  <p> اگر یک راه وجود دارد که فناوری بی سیم کار می کند [...]</p>
                </div>
              </a>
              <a href="rtl-page-single-post.html" class="post-card mb-3 border-bottom brd-gray">
                <div class="img me-3">
                  <img src="assets/img/blog/7.png" alt="">
                </div>
                <div class="inf">
                  <h6>هوش مصنوعی با اثر انگشت </h6>
                  <p> اگر یک راه وجود دارد که فناوری بی سیم کار می کند [...]</p>
                </div>
              </a>
              <a href="rtl-page-single-post.html" class="post-card mb-3 border-bottom brd-gray">
                <div class="img me-3">
                  <img src="assets/img/blog/7.png" alt="">
                </div>
                <div class="inf">
                  <h6>هوش مصنوعی با اثر انگشت </h6>
                  <p> اگر یک راه وجود دارد که فناوری بی سیم کار می کند [...]</p>
                </div>
              </a>
              <a href="rtl-page-single-post.html" class="post-card mb-3 border-bottom brd-gray">
                <div class="img me-3">
                  <img src="assets/img/blog/7.png" alt="">
                </div>
                <div class="inf">
                  <h6>هوش مصنوعی با اثر انگشت </h6>
                  <p> اگر یک راه وجود دارد که فناوری بی سیم کار می کند [...]</p>
                </div>
              </a>
              <a href="rtl-page-single-post.html" class="post-card mb-3 border-bottom brd-gray">
                <div class="img me-3">
                  <img src="assets/img/blog/7.png" alt="">
                </div>
                <div class="inf">
                  <h6>هوش مصنوعی با اثر انگشت </h6>
                  <p> اگر یک راه وجود دارد که فناوری بی سیم کار می کند [...]</p>
                </div>
              </a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== end all-news ====== -->

</main>
