

<header class="style-4" data-scroll-index="0">
  <div class="content">
    <div class="container">
      <div class="row gx-0">
        <div class="col-lg-6">
          <div class="info">
            <small class="mb-50 title_small">همیارِ تو در مسیر زندگیِ دیجیتال</small>
            <h1 class="mb-30">اولین پلتفرم
              <span> مشاوره رایگان </span>
              خرید و فروش کالای دیجیتال </h1>
            <p class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
            <div class="d-flex align-items-center mt-50">
              <a href="#" class="btn rounded-pill bg-blue4 fw-bold text-white me-4" target="_blank">
                <small> <i class="fab fa-apple me-2 pe-2 border-end"></i> مشاوره رایگان خرید آیفون </small>
              </a>
              <a href="https://youtu.be/pGbIOC83-So?t=21" data-lity class="play-btn">
                                    <span class="icon me-2">
                                        <i class="fas fa-play ms-1"></i>
                                    </span>
                <strong class="small">لورم ایپسوم متن ساختگی</strong>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="img">
            <img src="assets/img/header/header_4.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <img src="assets/img/header/header_4_bubble.png" alt="" class="bubble">
  </div>
  <img src="assets/img/header/header_4_wave.png" alt="" class="wave">
</header>
<main>

  <!-- ====== start clients ====== -->
  <section class="clients style-4">
    <div class="container">
      <div class="text-center">
        <h5 class="fw-bold mb-60"><span class="color-blue4">
          لورم ایپسوم
        </span>

          لورم ایپسوم متن ساختگی</h5>
      </div>
      <div class="client-logos pb-70">
        <div class="row align-items-center">
          <div class="col-6 col-lg-2">
            <a href="#" class="img d-block">
              <img src="assets/img/logos/1.png" alt="">
            </a>
          </div>
          <div class="col-6 col-lg-2">
            <a href="#" class="img d-block">
              <img src="assets/img/logos/2.png" alt="">
            </a>
          </div>
          <div class="col-6 col-lg-2">
            <a href="#" class="img d-block">
              <img src="assets/img/logos/3.png" alt="">
            </a>
          </div>
          <div class="col-6 col-lg-2">
            <a href="#" class="img d-block">
              <img src="assets/img/logos/4.png" alt="">
            </a>
          </div>
          <div class="col-6 col-lg-2">
            <a href="#" class="img d-block">
              <img src="assets/img/logos/5.png" alt="">
            </a>
          </div>
          <div class="col-6 col-lg-2">
            <a href="#" class="img d-block">
              <img src="assets/img/logos/6.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== end clients ====== -->

  <!-- ====== start features ====== -->
  <section class="features pt-70 pb-70 style-4" data-scroll-index="1">
    <div class="container">
      <div class="section-head text-center style-4">
        <small class="title_small bg-white">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </small>
        <h2 class="mb-70">خدمات <span> همیار موبایل </span> </h2>
      </div>
      <div class="content">
        <div class="features-card">
          <div class="icon img-contain">
            <img src="assets/img/icons/fe1.png" alt="">
          </div>
          <h6>مشاوره رجیستر گوشی همراه</h6>
        </div>
        <div class="features-card">
          <div class="icon img-contain">
            <img src="assets/img/icons/fe2.png" alt="">
          </div>
          <h6>اپل آیدی</h6>
        </div>
        <div class="features-card">
          <div class="icon img-contain">
            <img src="assets/img/icons/fe3.png" alt="">
          </div>
          <h6> مشاوره خرید و فروش گوشی موبایل</h6>
        </div>
        <div class="features-card">
          <div class="icon img-contain">
            <img src="assets/img/icons/fe5.png" alt="">
          </div>
          <h6>تعمیرات تخصصی تلفن همراه</h6>
        </div>
      </div>
    </div>
    <img src="assets/img/feat_circle.png" alt="" class="img-circle">
  </section>
  <!-- ====== end features ====== -->

  <!-- ====== start about ====== -->
  <section class="about section-padding style-4">
    <div class="content frs-content" id="about" data-scroll-index="2">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6">
            <div class="img mb-30 mb-lg-0">
              <img src="assets/img/about/ipad.png" alt="">
            </div>
          </div>
          <div class="col-lg-5">
            <div class="info">
              <div class="section-head style-4">
                <small class="title_small">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </small>
                <h2 class="mb-30">چرا قبل از خرید باید
                  <span> مشاوره </span>
                  بگیرید

                </h2>
              </div>
              <p class="text mb-40">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
              </p>
              <ul>
                <li class="d-flex align-items-center mb-3">
                  <small class="icon-30 bg-gray rounded-circle color-blue4 d-inline-flex align-items-center justify-content-center me-3">
                    <i class="fas fa-tag"></i>
                  </small>
                  <h6 class="fw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </h6>
                </li>
                <li class="d-flex align-items-center mb-3">
                  <small class="icon-30 bg-gray rounded-circle color-blue4 d-inline-flex align-items-center justify-content-center me-3">
                    <i class="fas fa-sync"></i>
                  </small>
                  <h6 class="fw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </h6>
                </li>
                <li class="d-flex align-items-center">
                  <small class="icon-30 bg-gray rounded-circle color-blue4 d-inline-flex align-items-center justify-content-center me-3">
                    <i class="fas fa-text-width"></i>
                  </small>
                  <h6 class="fw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </h6>
                </li>
              </ul>
              <a href="page-contact-5.html" class="btn rounded-pill bg-blue4 fw-bold text-white mt-50">
                <small> مشاوره رایگان بگیرید! </small>
              </a>
            </div>
          </div>
        </div>
      </div>
      <img src="assets/img/about/about_s4_lines.png" alt="" class="lines">
      <img src="assets/img/about/about_s4_bubble.png" alt="" class="bubble">
    </div>
    <div class="content sec-content">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-5 order-2 order-lg-0">
            <div class="info">
              <div class="section-head style-4">
                <small class="title_small">إلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </small>
                <h2 class="mb-30">راه حل ابدی برای
                  <span> اپل آیدی </span>
                </h2>
              </div>
              <p class="text mb-40">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
              </p>
              <div class="faq style-3 style-4">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                      </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                      </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                      </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="https://chrome.google.com/webstore/category/extensions" class="btn btn-img mt-40 rounded-pill" target="_blank">
                <div class="icon img-contain">
                  <img src="assets/img/icons/testi_s4_ic1.png" alt="">
                </div>
                <div class="inf">
                  <small> درخواست </small>
                  <h6>ثبت اپل آیدی با دامنه اصیل</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-0 order-lg-2">
            <div class="img mb-30 mb-lg-0">
              <img src="assets/img/about/2mobiles.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <img src="assets/img/about/about_s4_bubble2.png" alt="" class="bubble2">
    </div>
    <div class="content trd-content">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6">
            <div class="img mb-30 mb-lg-0">
              <img src="assets/img/about/about_s4_img3.png" alt="">
            </div>
          </div>
          <div class="col-lg-5">
            <div class="info">
              <div class="section-head style-4">
                <small class="title_small">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </small>
                <h2 class="mb-30">راه حل مشکلات
                  <span> رجیبستری  </span>
                  موبایل
                </h2>
              </div>
              <p class="text mb-40">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
              </p>
              <ul>
                <li class="d-flex align-items-center op-4">
                  <i class="bi bi-dot fs-2 me-2 lh-1 color-blue4"></i>
                  <h6 class="fw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </h6>
                </li>
                <li class="d-flex align-items-center">
                  <i class="bi bi-dot fs-2 me-2 lh-1 color-blue4"></i>
                  <h6 class="fw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </h6>
                </li>
                <li class="d-flex align-items-center op-4">
                  <i class="bi bi-dot fs-2 me-2 lh-1 color-blue4"></i>
                  <h6 class="fw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </h6>
                </li>
                <li class="d-flex align-items-center op-4">
                  <i class="bi bi-dot fs-2 me-2 lh-1 color-blue4"></i>
                  <h6 class="fw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </h6>
                </li>
              </ul>
              <a href="page-services-5.html" class="btn rounded-pill bg-blue4 fw-bold text-white mt-50">
                <small> مشاوره رجیستری </small>
              </a>
            </div>
          </div>
        </div>
      </div>
      <img src="assets/img/about/about_s4_bubble.png" alt="" class="bubble">
    </div>
    <div class="integration pt-60" data-scroll-index="3">
      <div class="section-head text-center style-4">
        <small class="title_small">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </small>
        <h2 class="mb-20">اولین پلتفرم مشاوره
          <span>رایگان </span>
        </h2>
        <p>با خیال راحت کالای دیجیتال خود را خرید و فروش کنید</p>
      </div>
      <div class="container">
        <div class="content">
          <div class="img">
            <img src="assets/img/about/intg1.png" alt="" class="mt-30">
          </div>
          <div class="img">
            <img src="assets/img/about/intg5.png" alt="" class="mt-60">
          </div>
          <div class="img">
            <img src="assets/img/about/intg4.png" alt="" class="mt-20">
          </div>
          <div class="img">
            <img src="assets/img/about/intg3.png" alt="" class="mt-80">
          </div>
          <div class="img">
            <img src="assets/img/about/intg2.png" alt="">
          </div>
        </div>
      </div>
      <img src="assets/img/about/intg_back.png" alt="" class="intg-back">
    </div>
    <img src="assets/img/about/about_s4_wave.png" alt="" class="top-wave">
    <img src="assets/img/about/about_s4_wave.png" alt="" class="bottom-wave">
  </section>
  <!-- ====== end about ====== -->

  <!-- ====== start screenshots  ====== -->
  <div class="screenshots style-4" data-scroll-index="4">
    <div class="screenshots-slider style-4">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="img">
              <img src="assets/img/screenshots/1.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img">
              <img src="assets/img/screenshots/2.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img">
              <img src="assets/img/screenshots/3.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img">
              <img src="assets/img/screenshots/4.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img">
              <img src="assets/img/screenshots/5.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="assets/img/screenshots/hand.png" alt="" class="mob-hand">
  </div>
  <!-- ====== end screenshots  ====== -->


  <!-- ====== start faq ====== -->
  <section class="faq section-padding style-4 pt-50" data-scroll-index="7">
    <div class="container">
      <div class="section-head text-center style-4">
        <small class="title_small">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</small>
        <h2 class="mb-30"> سوالاتی که
          <span>بسیار </span>
        پرسیده شدند
        </h2>
      </div>
      <div class="content">
        <div class="faq style-3 style-4">
          <div class="accordion" id="accordionSt4">
            <div class="row gx-5">
              <div class="col-lg-6">
                <div class="accordion-item border-bottom rounded-0">
                  <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button collapsed rounded-0 py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                    </button>
                  </h2>
                  <div id="collapse11" class="accordion-collapse collapse rounded-0" aria-labelledby="heading11" data-bs-parent="#accordionSt4">
                    <div class="accordion-body">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                    </div>
                  </div>
                </div>
                <div class="accordion-item border-bottom rounded-0">
                  <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                    </button>
                  </h2>
                  <div id="collapse12" class="accordion-collapse collapse show rounded-0" aria-labelledby="heading12" data-bs-parent="#accordionSt4">
                    <div class="accordion-body">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                    </div>
                  </div>
                </div>
                <div class="accordion-item border-bottom rounded-0">
                  <h2 class="accordion-header" id="heading13">
                    <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                     </button>
                  </h2>
                  <div id="collapse13" class="accordion-collapse collapse rounded-0" aria-labelledby="heading13" data-bs-parent="#accordionSt4">
                    <div class="accordion-body">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                     </div>
                  </div>
                </div>
                <div class="accordion-item border-0 rounded-0">
                  <h2 class="accordion-header" id="heading4">
                    <button class="accordion-button collapsed rounded-0 py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                     </button>
                  </h2>
                  <div id="collapse4" class="accordion-collapse collapse rounded-0" aria-labelledby="heading4" data-bs-parent="#accordionSt4">
                    <div class="accordion-body">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                     </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="accordion-item border-bottom rounded-0">
                  <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button collapsed rounded-0 py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                      </button>
                  </h2>
                  <div id="collapse5" class="accordion-collapse collapse rounded-0" aria-labelledby="heading5" data-bs-parent="#accordionSt4">
                    <div class="accordion-body">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                      </div>
                  </div>
                </div>
                <div class="accordion-item border-bottom rounded-0">
                  <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                    </button>
                  </h2>
                  <div id="collapse6" class="accordion-collapse collapse rounded-0" aria-labelledby="heading6" data-bs-parent="#accordionSt4">
                    <div class="accordion-body">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                      </div>
                  </div>
                </div>
                <div class="accordion-item border-bottom rounded-0">
                  <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                      </button>
                  </h2>
                  <div id="collapse7" class="accordion-collapse collapse rounded-0" aria-labelledby="heading7" data-bs-parent="#accordionSt4">
                    <div class="accordion-body">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                      </div>
                  </div>
                </div>
                <div class="accordion-item border-bottom rounded-0">
                  <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button collapsed rounded-0 py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                      </button>
                  </h2>
                  <div id="collapse8" class="accordion-collapse collapse rounded-0" aria-labelledby="heading8" data-bs-parent="#accordionSt4">
                    <div class="accordion-body">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                      </div>
                  </div>
                </div>
                <div class="accordion-item border-0 rounded-0">
                  <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button collapsed rounded-0 py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                      </button>
                  </h2>
                  <div id="collapse9" class="accordion-collapse collapse rounded-0" aria-labelledby="heading9" data-bs-parent="#accordionSt4">
                    <div class="accordion-body">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== end faq ====== -->
  <section class="contact section-padding pt-50 style-6">
    <div class="container">
      <div class="container">
        <div class="section-head text-center mb-70 style-4">
          <h2 class="mb-20">درخواست
            <span> مشاوره رایگان </span>
          </h2>
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
        </div>
        <div class="content">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <form action="https://iteck-html.themescamp.com/contact.php" class="form" method="post">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group mb-20">
                      <input type="text" class="form-control" placeholder="نام">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mb-20">
                      <input type="text" class="form-control" placeholder="شماره تماس">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mb-20">
                      <input type="text" class="form-control" placeholder="ایمیل ">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mb-20">
                      <select class="form-select">
                        <option value="" selected> مشاوره مورد نیاز شما ؟ </option>
                        <option value="">مشاوره خرید و فروش</option>
                        <option value="">مشاوره رجیستری</option>
                        <option value="">مشاوره تعمیرات</option>
                        <option value="">مشاوره اپل آیدی</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea rows="10" class="form-control" placeholder="توضیحات "></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12 text-center">
                    <div class="form-check d-inline-flex mt-30 mb-30">
                    </div>
                  </div>
                  <div class="col-lg-12 text-center">
                    <a href="#" class="btn rounded-pill blue5-3Dbutn hover-blue2 sm-butn fw-bold">
                      <span>درخواست مشاوره </span>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <img src="assets/img/icons/contact_a.png" alt="" class="contact_a">
          <img src="assets/img/icons/contact_message.png" alt="" class="contact_message">
        </div>
      </div>
    </div>
  </section>

  <!-- ====== start community ====== -->
  <section class="community section-padding pt-0 style-4">
    <div class="container">
      <div class="section-head text-center style-4">
        <small class="title_small"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  </small>
        <h2 class="mb-30">ما را در
          <span> شبکه های مجازی  </span>
        دنبال کنید
        </h2>
      </div>
      <div class="content">
        <a href="#" class="commun-card">
          <div class="icon">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="inf">
            <h5>اینستاگرام</h5>
          </div>
        </a>
        <a href="#" class="commun-card">
          <div class="icon">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="inf">
            <h5>توییتر</h5>
          </div>
        </a>
        <a href="#" class="commun-card">
          <div class="icon">
            <i class="fab fa-telegram"></i>
          </div>
          <div class="inf">
            <h5>تلگرام</h5>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- ====== end community ====== -->
</main>

